*,
*::before,
*::after {
  box-sizing: border-box
}

body {
  font-family: 'Proza Libre', sans-serif;
  margin: 0;
}

main {
  max-width: 1024px;
  margin: auto;
}

footer > * {
  max-width: 900px;
  margin: auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: 1.2em;
  margin-right: 1em;
}

h2 {
  margin-bottom: .5em;
}

h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

.subheading {
  font-weight: normal;
  font-size: .8em;
  text-transform: uppercase;
}

header {
  margin: 1em 2vw;
}

section {
  margin: 1em;
}

section, article {
  margin-bottom: 5em;
}

aside {
  margin-bottom: 2em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: .8em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul > * {
  margin-right: .75em;
}

#hero {
  margin-right: 0;
  display: grid;
  grid-template-columns: 1fr minmax(3em, 2fr) minmax(auto, 22em) 6fr;
}

#hero .content {
  padding-top: 8em;
  padding-bottom: 3em;
  margin-right: 1.5em;

  grid-column: 2 / span 2;
  grid-row-start: 1;
}

#hero .bg {
  grid-column: 3 / span 2;
  grid-row-start: 1;
  background: #FFF2DD;
}

#hero h2 {
  font-size: 2.5em;
}

#hero p {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.btn {
  display: inline-block;
  padding: 1.2em 2.2em;

  font-size: .8em;

  background: #FD3D48;
  color: #FFFFFF;
  border-radius: 40px;
}

img {
  width: 100%;
}

article .content {
  padding: 1em;
  padding-bottom: 2em;
  background: #FFE2D9;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

article a {
  margin-right: 1em;
  align-self: flex-end; 
}

.feat-extra {
  display: none;
}

aside {
  display: grid;
  grid-template-columns: minmax(2em, auto) 1fr 1fr;
}

aside .content {
  background: initial;
  padding-bottom: 1em;

  grid-column: 1 / span 3;
  grid-row-start: 1;
}

aside .bg {
  grid-column: 2 / span 2;
  grid-row-start: 1;
  background: #FFF2DD;
}


footer {
  padding: 1.5em;
  background: #202434;
  color: #FFFFFF;
}

footer h2 {
  margin-bottom: 2em;
}

footer section {
  margin: 0;
  margin-bottom: 3em;
}

footer a {
  color: #FFFFFF;
}


@media screen and (min-width: 600px) {
  .feature {
    display: grid;
    align-items: center;
  }

  .feat-r {
    grid-template-columns: 
      [bg-start] 20fr [content-start] minmax(auto, 5em) [bg-end] minmax(1em, 10fr) [content-end] 1fr;
  }

  .feat-l {
    grid-template-columns: 
      1fr [content-start] minmax(1em, 10fr) [bg-start] minmax(auto, 5em) [content-end] 20fr [bg-end];
  }

  .feature .content {
    grid-column: content;
    grid-row-start: 1;
  }
  
  .feature .bg {
    grid-column: bg;
    grid-row-start: 1;
  }


  aside {
    grid-template-columns: 
      [logo-start] 1fr [logo-end content-start] minmax(2em, auto) [bg-start] 4fr 2fr [content-end bg-end];
  }
  
  aside .content {
    grid-column: content;

    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  aside .content > *:first-child {
    flex: 1 0 auto;
    margin-right: 1em;
    text-align: right;
  }
  
  aside .bg {
    grid-column: bg;
    margin-bottom: 1em;
  }

  aside .logo {
    margin: 1em;
    grid-column: logo;
    grid-row: 1;
    width: initial;
  }

  .feat-extra {
    max-width: 80%;
    display: grid;
    font-size: .9em;
  }

  .extra-r {
    margin-left: 10em;
    margin-right: 5em;
  }

  .extra-l {
    margin-left: 1em;
    margin-right: 10em;

    grid-template-columns: 
      [content-start] 1fr  minmax(2em, auto) [bg-start] 4fr [content-end bg-end logo-start] 2fr [logo-end];
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: baseline; 
  }

  .col > * {
    margin-right: 3%;
  } 

  .col2 > * {
    flex: 1 1 50%;
  } 

  .col3 > * {
    flex: 1 1 30%;
  } 

  .col > *:last-child {
    margin-right: 0;
  }

  .col3 > section:nth-child(2) {
    text-align: center;
  }

  .col3 > section:nth-child(3) {
    text-align: right;
  }
}

@media screen and (min-width: 900px) {
  #about p {
    font-size: 1.2em;
    line-height: 1.6em;
  }
}