*,
*::before,
*::after {
  box-sizing: border-box
}

body {
  font-family: 'Proza Libre', sans-serif;
  margin: 0;
}


header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: 1.2em;
}

h2 {
  margin-bottom: .5em;
}

h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

.subheading {
  font-weight: normal;
  font-size: .9rem;
  text-transform: uppercase;
}

header, section {
  margin: 1em;
}

section, article {
  margin-bottom: 5em;
}

aside {
  margin-bottom: 2em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: .2em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
}

nav ul > * {
  margin-right: .75em;
}

#hero {
  margin-right: 0;
  display: grid;
  grid-template-columns: .5fr minmax(3em, 1fr) minmax(auto, 20em) 3fr;
}

#hero .content {
  padding-top: 8em;
  padding-bottom: 3em;
  margin-right: 1.5em;

  grid-column: 2 / span 2;
  grid-row-start: 1;
  z-index: 1;
}

#hero .bg {
  grid-column: 3 / span 2;
  grid-row-start: 1;
  background: #FFF2DD;
}

#hero h2 {
  font-size: 2.5em;
}

#hero p {
  font-size: 1.2em;
  margin-bottom: 2em;
}

.btn {
  display: inline-block;
  padding: 1.2em 2.2em;

  font-size: .8em;

  background: #FD3D48;
  color: #FFFFFF;
  border-radius: 40px;
}

img {
  width: 100%;
}

article .content {
  padding: 1em;
  padding-bottom: 2em;
  background: #FFE2D9;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

article a {
  margin-right: 1em;
  align-self: flex-end; 
}

aside {
  display: grid;
  grid-template-columns: minmax(2em, auto) 1fr 1fr;
}

aside .content {
  padding-bottom: 1em;

  grid-column: 1 / span 3;
  grid-row-start: 1;
  z-index: 1;
}

aside .bg {
  grid-column: 2 / span 2;
  grid-row-start: 1;
  background: #FFF2DD;
}

footer {
  padding: 1.5em;
  background: #202434;
  color: #FFFFFF;
}

footer h2 {
  margin-bottom: 3em;
}

footer section {
  margin: 0;
  margin-bottom: 3em;
}

footer a {
  color: #FFFFFF;
}